@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

/* :root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4} */
html, body {
  height: 100%;
}

body {
  line-height: 1;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.common-inner {
  width: 1152px;
  margin: 0 auto;
}

#skipNav {
  position: relative;
  z-index: 3000;
}

#skipNav a {
  position: absolute;
  top: -30px;
  left: 0;
  width: 138px;
  border: 1px solid #4ec53d;
  background: #333;
  text-align: center;
}

#skipNav a:active,
#skipNav a:focus {
  top: 0;
  text-decoration: none;
  z-index: 1000;
}

#skipNav span {
  display: inline-block;
  padding: 2px 6px 0 0;
  font-size: 13px;
  line-height: 26px;
  color: #fff;
  letter-spacing: -1px;
  white-space: nowrap;
}